.bodyAlternative {
    background-color: black;
    color: white;

    header {
        border-bottom: 1px solid white;

        .container-header {
            h1 {
                color: white;
            }

            nav {
                .container-changebackground {
                    label {
                        color: black;

                        i {
                            padding: 12px 14px;

                            &:hover {
                                background-color: orange;
                            }
                        }
                    }
                }

                .container-menu {
                    label {
                        i {
                            color: white;
                        }
                    }
                }

                .list-links {
                    li {
                        a {

                            p {
                                color: white;
                            }

                            i {
                                color: white;
                                
                            }
                        }

                        &:hover {
                            background-color: rgba(255, 255, 255, 0.184);
                        }
                    }
                }
            }
        }
    }

    main {
        .tecnologias {
            h2 {
                color: white;
            }

            .list-tecnologias {
                li {
                    background-color: black;
                    border: none;
                }
            }

            .container-clean-code {
                p {
                    color: white;

                    i {
                        color: white;
                    }
                }
            }

            .container-responsive {
                p {
                    color: white;
                }
            }
        }

        .projects {
            .container-projects {
                .container-texto-seta {
                    background-color: black;
                    
                    h2 {
                        color: white;
                    }

                    i {
                        color: black;
                    }
                }
            }

            .link-projetos {
                border: 1px solid white;
            }
        }

        .about {
            .container-about {
                a {
                    border: 1px solid white;
                }
            }
        }


        .projetos {
            .container-projeto {
                h2 {
                    color: white;
                }

                img {
                    box-shadow: 10px 10px 15px rgba(255, 255, 255, 0.3);
                }

                .container-descricao-projeto {
                    h3 {
                        color: white;
                    }

                    p {
                        color: white;
                    }
                }
            }

            .swiper {
                span {
                    color: white;
                }
            }
        }
    }

    .rodape {
        border-top: 1px solid white;

        p {
            color: white;
        }

        .list-redes {
            li {
                a {
                    i {
                        color: white;
                    }
                }
            }
        }
    }
}