@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  list-style-type: none;
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
}

img {
  width: 30%;
}

@keyframes animationIcon {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes pularTexto {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
header {
  border: 1px solid black;
}
header .container-header {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
header .container-header h1 {
  font-size: 2em;
  font-weight: 900;
  font-family: "Rubik Doodle Shadow";
  color: blue;
}
header .container-header .animationPularTexto {
  animation: pularTexto 400ms 2;
}
header .container-header nav {
  display: flex;
  align-items: center;
  gap: 32px;
}
header .container-header nav .container-changebackground label i {
  background-color: white;
  font-size: 1.5em;
  margin-top: 0.5em;
  border: 1px solid black;
  padding: 10px 15px;
  border-radius: 100%;
}
header .container-header nav .container-changebackground label i:hover {
  background-color: lightblue;
}
header .container-header nav .container-changebackground label i:active {
  background-color: white;
}
header .container-header nav .container-changebackground label .styleAlternative {
  background-color: orange;
}
header .container-header nav .container-changebackground label .styleAlternative:hover {
  background-color: orange;
}
header .container-header nav .container-changebackground input {
  display: none;
}
header .container-header nav .container-menu label {
  display: none;
}
header .container-header nav .container-menu input {
  display: none;
}
header .container-header nav .list-links {
  display: flex;
  align-items: center;
  gap: 32px;
}
header .container-header nav .list-links .item-link {
  text-align: center;
  padding: 0.5em 1em;
  border-radius: 5px;
}
header .container-header nav .list-links .item-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
header .container-header nav .list-links .item-link:hover i {
  animation: animationIcon 3s infinite;
}
header .container-header nav .list-links .item-link:active {
  background-color: lightblue;
}
header .container-header nav .list-links button {
  display: none;
}

@media (max-width: 760px) {
  header .container-header {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  header .container-header {
    flex-direction: row;
  }
  header .container-header h1 {
    font-size: 1.5em;
  }
  header .container-header nav {
    gap: 16px;
  }
  header .container-header nav .container-changebackground label i {
    font-size: 16px;
    padding: 10px 15px;
    margin-top: 0;
  }
  header .container-header nav .container-menu label {
    display: block;
  }
  header .container-header nav .container-menu label i {
    font-size: 24px;
  }
  header .container-header nav .list-links {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
    height: 100vh;
    background-color: white;
    width: 250px;
    z-index: 2;
    padding-top: 3em;
    border-left: 1px solid black;
  }
  header .container-header nav .list-links .item-link {
    background-color: lightblue;
    border: 1px solid black;
    width: 80px;
    animation: pularTexto 500ms 2;
  }
  header .container-header nav .list-links .item-link:hover i {
    animation: none;
  }
  header .container-header nav .list-links button {
    display: block;
    border: none;
    background: none;
    border-radius: 100%;
  }
  header .container-header nav .list-links button i {
    font-size: 3em;
    border-radius: 100%;
  }
  header .container-header nav .list-links button i:hover {
    background-color: lightblue;
  }
  header .container-header nav .list-links button i:active {
    background-color: white;
  }
  header .container-header nav .list-links.hidden {
    display: none;
  }
}
@keyframes textoEntrandonaTela {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
main .projects {
  text-align: center;
}
main .projects .container-projects {
  margin: 10% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}
main .projects .container-projects .container-texto-seta {
  background-color: black;
  display: flex;
  align-items: center;
  gap: 16px;
}
main .projects .container-projects .container-texto-seta h2 {
  font-family: "Rubik Doodle Shadow";
  width: 300px;
  font-size: 2em;
  margin-left: 3em;
  color: white;
  padding: 1em;
}
main .projects .container-projects .container-texto-seta i {
  font-size: 24px;
  margin-right: 24px;
  color: white;
}
main .projects .container-projects .animationTextoEntrandoNaTela {
  animation: textoEntrandonaTela 1500ms 1;
}
main .projects .container-projects .swiper {
  width: 60%;
  margin-right: 5%;
}
main .projects .container-projects .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  border-radius: 10px;
}
main .projects .link-projetos {
  cursor: pointer;
  padding: 1em 3em;
  background-color: lightblue;
  border-radius: 10px;
}
main .projects .link-projetos:hover {
  background-color: #405DE6;
  border: 2px solid black;
  color: white;
}
main .about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}
main .about .container-redes {
  background-color: lightblue;
  border: 1px solid black;
  text-align: center;
  width: 100%;
  padding: 3em 0;
}
main .about .container-redes h2 {
  font-weight: 800;
  font-size: 1.5em;
  margin: 1em 0;
}
main .about .container-redes .animationPularTexto {
  animation: pularTexto 400ms 2;
}
main .about .container-redes .list-redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
main .about .container-redes .list-redes li {
  margin-right: 16px;
}
main .about .container-redes .list-redes li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 150px;
  border-radius: 10px;
  padding: 0.5em 0;
}
main .about .container-redes .list-redes li a i {
  font-size: 24px;
}
main .about .container-redes .list-redes li a:hover {
  border: 1px solid white;
}
main .about .container-redes .list-redes li a:hover i {
  animation: animationIcon 1s infinite;
  color: white;
}
main .about .container-redes .list-redes li a:hover p {
  color: white;
}
main .about .container-redes .list-redes li .insta:hover {
  background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #FFDC80);
}
main .about .container-redes .list-redes li .linkedin:hover {
  background-color: #405DE6;
}
main .about .container-redes .list-redes li .github:hover {
  background-color: black;
}
main .about .container-redes .list-redes li .vercel:hover {
  background-color: black;
}
main .about .container-about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
main .about .container-about h2 {
  margin-top: 1em;
  font-weight: 700;
  text-align: center;
  font-size: 2em;
}
main .about .container-about div {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .about .container-about div p {
  width: 30%;
  display: inline-block;
  background-color: black;
  color: white;
  padding: 2em;
}
main .about .container-about div img {
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.6);
}
main .about .container-about img {
  display: inline-block;
}
main .about .container-about a {
  display: block;
  background-color: lightblue;
  padding: 1.2em 2em;
  border-radius: 15px;
}
main .about .container-about a:hover {
  background-color: rgb(0, 191, 255);
  border: 1px solid black;
}
main .about .animationConteudoEntrandoNaTela {
  animation: textoEntrandonaTela 1500ms 1;
}

@media (max-width: 1024px) {
  main .projects .container-projects .container-texto-seta h2 {
    font-size: 1.5em;
  }
}
@media (max-width: 900px) {
  main .projects .container-projects {
    flex-direction: column;
    justify-content: center;
  }
  main .projects .container-projects .container-texto-seta {
    background-color: white;
  }
  main .projects .container-projects .container-texto-seta h2 {
    color: black;
  }
  main .projects .container-projects .swiper {
    width: 90%;
    margin: auto;
  }
  main .about .container-redes h2 {
    font-size: 1.3em;
  }
  main .about .container-redes .list-redes li a {
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 100%;
  }
  main .about .container-redes .list-redes li a p {
    display: none;
    color: white;
  }
  main .about .container-redes .list-redes li a i {
    color: white;
  }
  main .about .container-redes .list-redes li a:hover i {
    animation: none;
  }
  main .about .container-redes .list-redes li .insta {
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #FFDC80);
  }
  main .about .container-redes .list-redes li .linkedin {
    background-color: #405DE6;
  }
  main .about .container-redes .list-redes li .github {
    background-color: black;
  }
  main .about .container-redes .list-redes li .vercel {
    background-color: black;
  }
  main .about .container-about div {
    flex-direction: column;
  }
  main .about .container-about div p {
    width: 50%;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 1em;
    background-color: rgba(0, 0, 0, 0.3);
  }
  main .about .container-about div img {
    width: 60%;
  }
}
@media (max-width: 357px) {
  main .about .container-about div {
    flex-direction: column;
  }
  main .about .container-about div p {
    width: 80%;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 1em;
    background-color: rgba(0, 0, 0, 0.3);
  }
  main .about .container-about div img {
    width: 100%;
    border-radius: 0;
  }
}
.rodape {
  margin-top: 10%;
  text-align: center;
  border-top: 1px solid black;
  padding: 2em 0;
}
.rodape p {
  width: 90%;
  margin: auto;
}
.rodape p a {
  color: blue;
}
.rodape p a:hover {
  text-decoration: underline;
}
.rodape .list-redes {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 1em;
}
.rodape .list-redes li a {
  display: flex;
  align-items: center;
}
.rodape .list-redes li a i {
  font-size: 24px;
}

.bodyAlternative {
  background-color: black;
  color: white;
}
.bodyAlternative header {
  border-bottom: 1px solid white;
}
.bodyAlternative header .container-header h1 {
  color: white;
}
.bodyAlternative header .container-header nav .container-changebackground label {
  color: black;
}
.bodyAlternative header .container-header nav .container-changebackground label i {
  padding: 12px 14px;
}
.bodyAlternative header .container-header nav .container-changebackground label i:hover {
  background-color: orange;
}
.bodyAlternative header .container-header nav .container-menu label i {
  color: white;
}
.bodyAlternative header .container-header nav .list-links li a p {
  color: white;
}
.bodyAlternative header .container-header nav .list-links li a i {
  color: white;
}
.bodyAlternative header .container-header nav .list-links li:hover {
  background-color: rgba(255, 255, 255, 0.184);
}
.bodyAlternative main .projects .container-projects .container-texto-seta {
  background-color: black;
}
.bodyAlternative main .projects .container-projects .container-texto-seta h2 {
  color: white;
}
.bodyAlternative main .projects .container-projects .container-texto-seta i {
  color: black;
}
.bodyAlternative main .projects .link-projetos {
  border: 1px solid white;
}
.bodyAlternative main .about .container-about a {
  border: 1px solid white;
}
.bodyAlternative main .projetos .container-projeto h2 {
  color: white;
}
.bodyAlternative main .projetos .container-projeto img {
  box-shadow: 10px 10px 15px rgba(255, 255, 255, 0.3);
}
.bodyAlternative main .projetos .container-projeto .container-descricao-projeto h3 {
  color: white;
}
.bodyAlternative main .projetos .container-projeto .container-descricao-projeto p {
  color: white;
}
.bodyAlternative main .projetos .swiper span {
  color: white;
}
.bodyAlternative .rodape {
  border-top: 1px solid white;
}
.bodyAlternative .rodape p {
  color: white;
}
.bodyAlternative .rodape .list-redes li a i {
  color: white;
}

@keyframes piscar {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
main .projetos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .projetos .container-projeto {
  background-color: transparent;
  width: 30%;
  text-align: center;
  margin-left: 5%;
  margin-bottom: 5%;
}
main .projetos .container-projeto h2 {
  font-family: "Rubik Doodle Shadow";
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 1em;
  text-transform: uppercase;
  color: black;
}
main .projetos .container-projeto img {
  width: 100%;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
main .projetos .container-projeto .container-descricao-projeto h3 {
  font-family: "Rubik Doodle Shadow";
  color: black;
  font-size: 2em;
  margin: 16px 0;
  font-weight: 700;
}
main .projetos .container-projeto .container-descricao-projeto p {
  background-color: transparent;
  width: 90%;
  margin: auto;
  border-radius: 5px;
  color: black;
  margin-top: 2em;
}
main .projetos .swiper {
  width: 40%;
  margin-right: 5%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
main .projetos .swiper span {
  font-family: "Rubik Doodle Shadow";
  font-size: 1.5em;
}
main .projetos .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  border-radius: 10px;
}
main .projetos .swiper .swiper-wrapper .swiper-slide img:hover {
  opacity: 1;
}

.rodape {
  margin-top: 0;
}

@media (max-width: 900px) {
  main .projetos {
    flex-direction: column;
  }
  main .projetos .container-projeto {
    width: 100%;
    margin: 0;
  }
  main .projetos .container-projeto h2 {
    font-size: 1.5em;
  }
  main .projetos .container-projeto img {
    width: 60%;
  }
  main .projetos .container-projeto .container-descricao-projeto h3 {
    font-size: 1.5em;
  }
  main .projetos .container-projeto .container-descricao-projeto p {
    width: 80%;
  }
  main .projetos .swiper {
    width: 100%;
    margin: 0;
    margin-top: 1.5em;
  }
  main .projetos .swiper span {
    font-size: 1em;
  }
}/*# sourceMappingURL=style.css.map */